# Forbes Billionaires 2023

[Forbes Billionaire list](https://www.forbes.com/billionaires/)

In [1]:
import pandas as pd
import pygwalker as pyg

In [2]:
df = pd.read_csv("./forbes/forbes_continent.csv")

In [3]:
df.head()

,Rank,Name,Net Worth,Change,Age,Country/Territory,Source,Industry,Net Worth Num,Continent
0,1,Bernard Arnault & family,$211 B,up arrow,74.0,France,LVMH,Fashion & Retail,211.0,Europe
1,2,Elon Musk,$180 B,down arrow,51.0,United States,"Tesla, SpaceX",Automotive,180.0,North America
2,3,Jeff Bezos,$114 B,down arrow,59.0,United States,Amazon,Technology,114.0,North America
3,4,Larry Ellison,$107 B,up arrow,78.0,United States,Oracle,Technology,107.0,North America
4,5,Warren Buffett,$106 B,down arrow,92.0,United States,Berkshire Hathaway,Finance & Investments,106.0,North America

In [4]:
pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-0006121f20660cc2HeZQyLRYA9dDOnFV" style="height: auto">\n    <head>â€¦